.schedule-list-disabled
{
  filter:alpha(opacity=50);
  -moz-opacity: .50;
  opacity: .50;
}

.updato-cache-time {
  font-size: 0.85em;
}

.updato-tables-checkboxes .form-item {
  width: 15em;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  height: 1.75em;
  margin: .25em .25em 0 0;
}
.updato-tables-checkboxes .form-item label input {
  margin-right: .5em;
}

div.updato-tables-checkboxes {
  height: 20em;
  overflow: auto;
}
div.updato-tags,
div.updato-description,
div.updato-date
{
  font-size: smaller;
}
span.updato-label {
  font-weight: bold;
}
table.updato-listing td {
  vertical-align: top;
}

div.row-error {
  color: #FF0000;
  font-weight: bold;
}

.updato-listing {
  margin-bottom: 2em;
}
.updato-actions {
  text-align: right;
}

html.js #updato-ui-manual-quick-backup-form fieldset.collapsed,
.updato-inline {
  margin-bottom: 1em;
}

.updato-form-dependent {
  padding-left: 2em;
  padding-bottom: 1em;
}
.updato-form-dependent .form-item {
  margin-top: 0;
}
.updato-footer-message {
  margin-bottom: 1em;
}
